/*---------------------------------BASIC*/

footer {
  text-align: center;
  padding: 3px;
  background-color: #000000cc;
  color: white;
  text-shadow: none;
}


body{

  background-image: url('images/018.jpg');
  background-attachment: fixed; 
  background-size: cover;
}

/*---------------------------------TITLES-&-TEXT*/
.center {
  text-align: center;
  font-family: "Hind Madurai", serif ;
  font-weight: 400;
  font-style: normal;
}

h1{

  padding: 1em;
  margin: auto;

  text-align: center;

  font-family: 'Cinzel', serif !important;
    color:#000000;
}

h2{

  padding: 1em;
  margin: auto;
  text-align: center;

  font-family: 'Cinzel', serif !important;
    color:#000000;
}

h3{

  padding: 1em;
  margin: auto;
  text-align: center;

  font-family: "Quattrocento", serif !important;
  font-weight: 400;
  font-style: normal;
}

h4{

  padding: 1em;
  margin: auto;
  text-align: center;

  font-family: "Quattrocento", serif !important;
  font-weight: 400;
  font-style: header;
}

p{

  padding: 1em;
  margin: auto;

  text-align: left;

  font-family: "Quattrocento", serif;
  font-weight: 400;
  font-style: normal;
}

.p1{
  padding: 1em;
  margin: auto;

  text-align: center;

  font-family: "Quattrocento", serif;
  font-weight: 400;
  font-style: normal;
}

.normal {
  padding: 1em;
  margin: auto;

  text-align: left;

  font-family: "Quattrocento", serif;
  font-weight: 400;
  font-style: normal;
}

/*---------------------------------IMAGES-&-VIDEOS*/

img{
}

.headshot{
  width: 14em;
  clear: both;
  padding: .5em;
}

.wideImages{
}


/*---------------------------------NAV-BAR*/

/*Navigation*/
/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  color: #E3D4AC; 
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #E3D4AC; 
  text-decoration: none;
  padding: 10px 15px; 
  display: inline-block; 
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #333333; /* Darker text on hover */
  border-radius: 5px; /* Optional: add rounded corners for a softer look */
}

.topnav a.active {
  color: #ff6f61;
  background-color: rgba(255, 111, 97, 0.1);
}

.navbar-nav {
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  width: 60%;
  justify-content: space-evenly;  
  font-family: "New Rocker", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #231F20;
  height: 60px;
}

.navbar-header {
  padding-left: 50px;
}
    

/*---------------------------------TEAM-MEMBERS*/


.jumbotron{
  background-color: tan !important;
}

.col-sm-5 {
  background-color: #dedede;
  padding: 14px 16px;
}

#logo{
/*  width: 180px;*/
  vertical-align: baseline;

/*  vertical-align-items: center;*/
/*  align-items: center;*/
}

/*Art*/
.multicontainer{

  Margin: auto;

  background-color: tan;
  width: 70%;

}

/*Team Members*/

.col-sm-9{
  text-align: center;
  margin: auto;
  padding: 5em;

  width: 70%
/*  clear: left;*/
}

.col-sm-3{
  text-align: center;
  margin: auto;
  padding: 5em;
/*  clear: right;*/
}

.row{
  text-align: center;
  margin: auto;

}

.centerteam {
  text-align: center;
  margin: auto;
}

.panel-heading{
  background-color: #471414 !important;
    color: #F2E5DA !important;
}


/*---------------------------------DROPDOWN*/

.panel-body{
  background-image: url('images/092.jpg');
  background-attachment: fixed; 
  background-size: cover;
}

.bio{
  margin: right;
  padding: .5em;
/*  width: 50%;*/

  clear: both;
  background-color: tan;


}

/*---------------------------------SLIDESHOW*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade1 {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
