/*---------------------------------BASIC*/

footer {
  text-align: center;
  background-color: rgba(35, 31, 32, 0.6);
  color: white;
  opacity: 0.6;
}

body{

  background-image: url('images/018.jpg');
  background-attachment: fixed; 
  background-size: cover;
}

/*---------------------------------TITLES-&-TEXT*/

h1{

  /*padding: 1em;*/
  margin: auto;
/*  width: 50%;*/
  text-align: center;

  font-family: "Quattrocento", serif;
  font-weight: 400;
  font-style: normal;
}

h2{

  padding: 1em;
  margin: auto;
  text-align: center;

  font-family: "Quattrocento", serif;
  font-weight: 400;
  font-style: normal;
/*  width: 80%;*/
}

h3{

  padding: 1em;
  margin: auto;
  text-align: center;

  font-family: "Quattrocento", serif;
  font-weight: 400;
  font-style: normal;
/*  width: 80%;*/
}

h4{

  padding: 1em;
  margin: auto;
  text-align: center;
}

p{
  font-family: "Crimson Text", serif;
  font-size: 22px !important;
}


/*---------------------------------IMAGES-&-VIDEOS*/

img{

 
/*  width: 14em;*/
/*  width: 30%;*/
}


/*---------------------------------CANVA-EMBEDS*/


/*---------------------------------CLASSES*/

/*Navigation*/
/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  color: #E3D4AC; 
}



/* Style the links inside the navigation bar */
.topnav a {
  color: #E3D4AC; 
  text-decoration: none;
  padding: 10px 15px; 
  display: inline-block; 
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #333333; /* Darker text on hover */
  border-radius: 5px; /* Optional: add rounded corners for a softer look */
}

.topnav a.active {
  color: #ff6f61;
  background-color: rgba(255, 111, 97, 0.1);
}

.navbar-nav {
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  width: 60%;
  justify-content: space-evenly;  
  font-family: "New Rocker", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #231F20;
  height: 60px;
}

.navbar-header {
  padding-left: 50px;
}
    

.center {
  text-align: center;
  font-family: "Hind Madurai", serif;
  font-weight: 400;
  font-style: normal;
}

.col-sm-5 {
  background-color: #dedede;
  padding: 14px 16px;
}

#logo{
/*  width: 180px;*/
  vertical-align: baseline;

/*  vertical-align-items: center;*/
/*  align-items: center;*/
}

/*Team Members*/

.col-sm-9{
  text-align: center;
  margin: auto;
  background-color:beige;
}

.col-sm-3{
  text-align: center;
  margin: auto;
  background-color: tan;
}

.row{
  text-align: center;
  margin: auto;
  background-color:tan;

}


.centerteam {
  text-align: center;
  margin: auto;
}


/*Grid*/

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1em;
  padding: 1em;
  width: 90%;
  margin: auto;
}
.grid-item {
  fill: tan;
  border: 0.1em solid rgba(0, 0, 0, 0.8);
  padding: 2em;
/*  font-size: 3em;*/
/*  text-align: center;*/
}